In [2]:
import os
import pandas as pd

In [3]:
os.listdir()

['.DS_Store',
 'simple_padas_solution.ipynb',
 'mpi_master_slave.py',
 'geosales.csv',
 'test_openmpi.py',
 'solution2_masterSlave.py',
 'README.md',
 '.ipynb_checkpoints',
 'solution1_partition.py']

In [4]:
main_df = pd.read_csv("geosales.csv")

In [5]:
main_df.columns

Index(['index', 'region', 'country', 'item_type', 'sales_channel',
       'order_priority', 'order_date', 'order_id', 'ship_date', 'units_sold',
       'unit_price', 'unit_cost', 'total_revenue', 'total_cost',
       'total_profit'],
      dtype='object')

In [6]:
print("Ans A). \nThe below numbers give the units sold for each region")
main_df.groupby("region").sum()["units_sold"]

Ans A).
The below numbers give the units sold for each region

region
Asia                                  72822259
Australia and Oceania                 40797618
Central America and the Caribbean     53871798
Europe                               128664731
Middle East and North Africa          63251625
North America                         10845905
Sub-Saharan Africa                   129890681
Name: units_sold, dtype: int64

In [9]:
print("Ans B). \nThe below numbers give the total profit for each region")
main_df.groupby("region").mean()["total_profit"]

Ans B).
The below numbers give the total profit for each region

region
Asia                                 392349.729618
Australia and Oceania                391399.428248
Central America and the Caribbean    399516.403175
Europe                               389557.502456
Middle East and North Africa         395829.441882
North America                        409072.487970
Sub-Saharan Africa                   396107.177149
Name: total_profit, dtype: float64

In [10]:
main_df.groupby("region").sum()["total_profit"]

region
Asia                                 5.707512e+09
Australia and Oceania                3.175424e+09
Central America and the Caribbean    4.287211e+09
Europe                               1.008058e+10
Middle East and North Africa         4.979534e+09
North America                        8.725516e+08
Sub-Saharan Africa                   1.030631e+10
Name: total_profit, dtype: float64

In [11]:
main_df.groupby("region").count()["total_profit"]

region
Asia                                 14547
Australia and Oceania                 8113
Central America and the Caribbean    10731
Europe                               25877
Middle East and North Africa         12580
North America                         2133
Sub-Saharan Africa                   26019
Name: total_profit, dtype: int64

In [12]:
1.030631e+10/26019

396107.075598601